// ***************************************************
// ******************** VARIABLES ********************
// ***************************************************

// ******************** Color Primary ****************

$color-primary-desatured-red: #ce9797;
$color-primary-soft-red: #f96262;

// ******************** Color Neutral ****************

$color-neutral-dark-grayish-red: #413a3a;

// ******************** Color Gradient ***************
$color-gradient-white: #ffffff;
$color-gradient-chablis: #fff4f4;
$color-gradient-mandys-pink: #f8bfbf;
$color-gradient-sea-pink: #ee8c8c;
