@import "./partials/variables", "./partials/functions";

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: rem(64, 16) rem(32, 16) rem(92, 16) rem(32, 16);
  min-height: rem(310, 16);
  width: rem(311, 16);
}

.heading {
  color: $color-neutral-dark-grayish-red;
  font-size: rem(40, 16);
  font-weight: 600;
  letter-spacing: rem(10.83, 16);
  line-height: lineHeight(42, 40);
  text-align: center;
  text-transform: uppercase;
}

.text {
  color: $color-primary-desatured-red;
  font-size: rem(14, 16);
  font-weight: 400;
  line-height: lineHeight(22, 14);
  text-align: center;
}

.form {
  background-color: transparent;
  border: 1px solid $color-primary-desatured-red;
  border-radius: 28px;
  height: rem(48, 16);
  position: relative;
  width: rem(311, 16);
}

.email {
  background-color: transparent;
  border: none;
  color: $color-neutral-dark-grayish-red;
  font-size: 14px;
  height: rem(48, 16);
  margin-left: 30px;
  outline: none;
  width: rem(170, 16);
}

.email::placeholder {
  color: $color-primary-desatured-red;
  font-size: rem(14, 16);
  line-height: lineHeight(28, 16);
}

.error-message {
  color: $color-primary-soft-red;
  font-size: rem(13, 16);
  margin-left: 1.8rem;
  margin-top: 0.5rem;
}

.error-border {
  border: 2px solid $color-primary-soft-red;
}

.error-icon {
  display: none;
  position: absolute;
  right: 72px;
  top: 10px;
}

.show-error {
  display: block;
}

.button {
  align-items: center;
  background: linear-gradient(
    -45deg,
    $color-gradient-sea-pink,
    $color-gradient-mandys-pink
  );
  border: none;
  border-radius: 28px;
  box-shadow: 0 15px 20px rgba(198, 110, 110, 0.25);
  color: rgb(198, 110, 110);
  cursor: pointer;
  display: flex;
  height: rem(50, 16);
  justify-content: center;
  position: absolute;
  right: rem(-2.5, 16);
  top: rem(-2.5, 16);
  width: rem(66, 16);
}

.button:hover {
  background: #f3c9c9;
}

// ====================================================
// ================= RESPONSIVE 1230px ================
// ====================================================

@media (min-width: 1230px) {
  .main {
    margin: rem(233, 16) rem(234, 16) rem(162, 16) rem(162, 16);
    min-height: rem(414, 16);
    order: 0;
    width: rem(445, 16);
  }

  .heading {
    font-size: rem(54, 16);
    letter-spacing: rem(17.32, 16);
    line-height: lineHeight(68, 54);
    text-align: left;
  }

  .text {
    font-size: rem(16, 16);
    line-height: lineHeight(28, 16);
    text-align: left;
  }

  .form {
    border-radius: 28px;
    height: rem(56, 16);
    width: rem(445, 16);
  }

  .email {
    border: none;
    color: $color-neutral-dark-grayish-red;
    font-size: 16px;
    height: rem(56, 16);
    margin-left: 35px;
    width: rem(260, 16);
  }

  .email::placeholder {
    font-size: rem(16, 16);
  }

  .error-message {
    margin-left: 2.2rem;
  }

  .error-border {
    border: 2px solid $color-primary-soft-red;
  }

  .error-icon {
    display: none;
    position: absolute;
    right: 110px;
    top: 14px;
  }
  .show-error {
    display: block;
  }

  .button {
    align-items: center;
    border: none;
    border-radius: 28px;
    box-shadow: 0 15px 20px rgba(198, 110, 110, 0.25);
    display: flex;
    height: rem(56, 16);
    justify-content: center;
    position: absolute;
    right: rem(-2.5, 16);
    top: rem(-1, 16);
    width: rem(100, 16);
  }

  .button:hover {
    background: #f3c9c9;
  }
}
